body {
  font-weight: 300;
}

.mycode {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 10pt;
  white-space: nowrap;
}

.myemph {
  font-weight: 500;
  color: darkblue;
}

.myemph2 {
  font-weight: 425;
  color: darkblue;
}

#row1 {
  border-bottom-width: medium;
}

td, th {
  padding: 0.5em 1.5em 0.5em 0.5em;
}

.none {
  text-align: center;
}

h2 {
  color: cornflowerblue;
  margin-top: 1em;
}

h3 {
  color: midnightblue;
  margin-top: 2em;
  margin-bottom: 0.5em
}

.fetch-image {
  height: 265px;
  text-align: center;
  position: relative;
}

.placeholder-text {
  position: relative;
  top: 45%;
}

.random-image {
  width: 100%;
}

ol li {
  font-size: small;
}

h6 {
  color: darkblue;
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 1.0em;
}

.card-body {
  height: 245px;
}